// Fonts

$font-family: 'Roboto', sans-serif;

// Colors

$black-color: #000;
$white-color: #fff;
$top-color: #fbfbfb;
$orange-color: #ff4a32;
$line-color: #cfcfcf;
$acc-color: #373737;
// Sizes

$container-width: 1400px;
$container-padding: 20px;